<!doctype html>
<title>Numbers</title>
<style>
    * {
      font-family: sans-serif;
      font-size: x-large;
    }
<body>
</style>
<p>{{ top }} from the top!</p>
<p>Numbers: {{ numbers }}</p>
<p>Target: {{ target }}</p>
</br>
<form action="{{ url_for('countdown') }}" method="post">
<input type="hidden" name="top" value="{{ top }}">
<input type="hidden" name="numbers" value="{{ numbers }}">
<input type="hidden" name="target" value="{{ target }}">
<input type="hidden" name="solution" value="{{ solution }}">
{% if not show %}
<button type="submit" name="ShowSolution" value="ShowSolution">Show Solution</button>
{% endif %}
<button type="submit" name="NewPuzzle" value="NewPuzzle">New Puzzle</button>
</form>
{% if show %}
</br>
<p>Solution:</p>
</br>
{% for s in solution.split(';') %}
<p>{{ s }}</p
{% endfor %}
{% endif %}
