<!doctype html>
<title>Numbers</title>
<style>
    * {
      font-family: sans-serif;
      font-size: x-large;
    }
<body>
</style>
<p>{{ top }} from the top!</p>
<p>Numbers: {{ number_str }}</p>
<p>Target: {{ target }}</p>
</br>
</br>
</br>
<p style="color:#ffffff;">Solution: {{ solution }}</p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<img src="/static/cd.jpg">
</body>
